<!-- DrugInteractions.hbs -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Drug Interactions</h1>

{{!-- Form to add a record to the table  --}}
<h2>Add a Drug Interaction</h2>
<p>To add a new drug interaction, please enter the information below and click 'Submit'!</p>
<form id="add-drugInteraction-form-ajax">
    <label for="input-drugID1-ADD">Drug RXCUI: </label>
    <select name="input-drugID1-ADD" id="input-drugID1-ADD">
        <option value="">Select a Drug</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugID}}</option>
        {{/each}}
    </select>  

    <label for="input-drugID2-ADD">Drug RXCUI: </label>
    <select name="input-drugID2-ADD" id="input-drugID2-ADD">
        <option value="">Select a Drug</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugID}}</option>
        {{/each}}
    </select>  
    
    <label for="input-sourceName-ADD">Interaction Source: </label>
    <select name="input-sourceName-ADD" id="input-sourceName-ADD">
        <option value="">Select a Source</option>
        {{#each sources}}
        <option value="{{this.sourceName}}">{{this.sourceName}}</option>
        {{/each}}
    </select>   

    <label for="input-sideEffectDescription-ADD">Side Effects Description: </label>
    <input type="text" name="input-sideEffectDescription-ADD" id="input-sideEffectDescription-ADD">

    <label for="input-sideEffectSeverity-ADD">Side Effects Severity: </label>
    <input type="text" name="input-sideEffectSeverity-ADD" id="input-sideEffectSeverity-ADD">    

    <button type="submit" id ="add-button">Submit</button>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./add_drugInteraction.js" type="application/javascript"></script>



{{!-- Create a table --}}
<table border="1" cellpadding="5" id="drug-interaction-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}              <!-- helpers allow you to iterate thru objects and arrays and perform other specialized tasks -->
            <th>
                {{@key}}        <!-- key name for the current iteration step -->
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, dosage, drugid, patientid, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.interactionID}}</td>
            <td>{{this.drugID1}}</td>
            <td>{{this.drugName1}}</td>
            <td>{{this.drugID2}}</td>
            <td>{{this.drugName2}}</td>
            <td>{{this.sideEffectDescription}}</td>
            <td>{{this.sideEffectSeverity}}</td>
            <td>{{this.source}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to update a record to the table  --}}
<h2>Update a Drug Interaction</h2>
<p>To update a new drug interaction, please enter the information below and click 'Submit'!</p>
<form id="update-drugInteraction-form-ajax">
    <label for="input-interactionID-UPDATE">interactionID: </label>
    <select name="input-interactionID-UPDATE" id="input-interactionID-UPDATE">
        <option value="">Select a Source</option>
        {{#each data}}
        <option value="{{this.interactionID}}">{{this.interactionID}}</option>
        {{/each}}
    </select>   

    <label for="input-sourceName-UPDATE">Interaction Source: </label>
    <select name="input-sourceName-UPDATE" id="input-sourceName-UPDATE">
        <option value="">Select a Source</option>
        {{#each sources}}
        <option value="{{this.sourceName}}">{{this.sourceName}}</option>
        {{/each}}
    </select>   

    <label for="input-sideEffectDescription-UPDATE">Side Effects Description: </label>
    <input type="text" name="input-sideEffectDescription-UPDATE" id="input-sideEffectDescription-UPDATE">

    <label for="input-sideEffectSeverity-UPDATE">Side Effects Severity: </label>
    <input type="text" name="input-sideEffectSeverity-UPDATE" id="input-sideEffectSeverity-UPDATE">    

    <button type="submit" id ="UPDATE-button">Submit</button>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./update_drugInteraction.js" type="application/javascript"></script>
