<!-- DrugInteractions.hbs -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Drug Interactions</h1>

{{!-- Form to add a record to the table  --}}
<h2>Add a Drug Interaction</h2>
<p>To add a new drug interaction, please enter the information below and click 'Submit'!</p>
<form id="add-drugInteraction-form-ajax">
    <label for="input-drugID1-ADD">Drug RXCUI: </label>
    <select name="input-drugID1-ADD" id="input-drugID1-ADD">
        <option value="">Select a Drug</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugName}}</option>
        {{/each}}
    </select>  

    <label for="input-drugID2-ADD">Drug RXCUI: </label>
    <select name="input-drugID2-ADD" id="input-drugID2-ADD">
        <option value="">Select a Drug</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugName}}</option>
        {{/each}}
    </select>  
    
    <label for="input-sourceName-ADD">drugID: </label>
    <select name="input-sourceName-ADD" id="input-sourceName-ADD">
        <option value="">Select a Source</option>
        {{#each drugInteractionSources}}
        <option value="{{this.sourceName}}">{{this.sourceName}}</option>
        {{/each}}
    </select>   

    <label for="input-sideEffectDescription-ADD">Drug RXCUI: </label>
    <input type="text" name="input-sideEffectDescription-ADD" id="input-sideEffectDescription-ADD">

    <label for="input-sideEffectSeverity-ADD">Drug RXCUI: </label>
    <input type="text" name="input-sideEffectSeverity-ADD" id="input-sideEffectSeverity-ADD">    

    <button type="submit" id ="add-button">Submit</button>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./add_drugInteraction.js" type="application/javascript"></script>



{{!-- Create a table --}}
<table border="1" cellpadding="5" id="drug-interaction-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}              <!-- helpers allow you to iterate thru objects and arrays and perform other specialized tasks -->
            <th>
                {{@key}}        <!-- key name for the current iteration step -->
            </th>
            {{/each}}
            
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, dosage, drugid, patientid, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.interactionID}}</td>
            <td>{{this.drugID1}}</td>
            <td>{{this.drugName1}}</td>
            <td>{{this.drugID2}}</td>
            <td>{{this.drugName2}}</td>
            <td>{{this.drugID1}}</td>
            <td>{{this.source}}</td>
            <td>{{this.sideEffectDescription}}</td>
            <td>{{this.sideEffectSeverity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to update a record to the table  --}}
<h2>Updating A Drug Interaction Form</h2>
<form id="update-drugInteraction-form-ajax">

    <label for="input-patientPrescriptionID-UPDATE">Prescription ID: </label>
    <input type="number" name="input-patientPrescriptionID-UPDATE" id="input-patientPrescriptionID-UPDATE" required>

    <label for="input-patientID-UPDATE">Patient: </label>
    <select name="input-patientID-UPDATE" id="input-patientID-UPDATE">
        <option>Select a Patient:</option>
        {{#each patients}}
        <option value="{{this.patientID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-drugID-UPDATE">Drug: </label>
    <select name="input-drugID-UPDATE" id="input-drugID-UPDATE">
        <option value="Null" disabled selected>Select a Drug:</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugName}}</option>
        {{/each}}
    </select>

    <label for="input-dosage-UPDATE">Dosage: </label>
    <input type="text" name="input-dosage-UPDATE" id="input-dosage-UPDATE" required>
    
    <input type="submit">

</form>

<script src="./update_patientPrescription.js" type="application/javascript"></script>