<!-- PatientPrescriptions.hbs -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Patient Prescriptions</h1>

{{!-- Form to add a record to the table  --}}
<h2>Add a Prescription</h2>
<p>To add a new prescription, please enter the information below and click 'Submit'!</p>
<form id="add-patientPrescription-form-ajax">
    <label for="input-dosage-ADD">Dosage: </label>
    <input type="text" name="input-dosage-ADD" id="input-dosage-ADD" required>
    
    <label for="input-drugID-ADD">drugID: </label>
    <select name="input-drugID-ADD" id="input-drugID-ADD">
        <option value="">Select a Drug</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugName}}</option>
        {{/each}}
    </select>   

    <label for="input-patientID-ADD">patientID: </label>
    <select name="input-patientID-ADD" id="input-patientID-ADD">
        <option value="">Select a Patient</option>
        {{#each patients}}
        <option value="{{this.patientID}}">{{this.name}}</option>
        {{/each}}
    </select>   

    <button type="submit" id ="add-button">Submit</button>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./add_patientPrescription.js" type="application/javascript"></script>



{{!-- Create a table --}}
<table border="1" cellpadding="5" id="prescription-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}              <!-- helpers allow you to iterate thru objects and arrays and perform other specialized tasks -->
            <th>
                {{@key}}        <!-- key name for the current iteration step -->
            </th>
            {{/each}}
            
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, dosage, drugid, patientid, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.patientPrescriptionID}}</td>
            <td>{{this.dosage}}</td>
            <td>{{this.drugID}}</td>
            <td>{{this.patientID}}</td>
            <td>{{this.drugName}}</td>
            <td>{{this.name}}</td>
            
            <td><button onclick="deletePrescription({{this.patientPrescriptionID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./delete_patientPrescription.js" type="application/javascript"></script>


{{!-- Form to update a record to the table  --}}
<h2>Updating A Patient's Prescription Form</h2>
<form id="update-patientPrescription-form-ajax">

    <label for="input-patientPrescriptionID-UPDATE">Prescription ID: </label>
    <input type="number" name="input-patientPrescriptionID-UPDATE" id="input-patientPrescriptionID-UPDATE" required>

    <label for="input-patientID-UPDATE">Patient: </label>
    <select name="input-patientID-UPDATE" id="input-patientID-UPDATE">
        <option>Select a Patient:</option>
        {{#each patients}}
        <option value="{{this.patientID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-drugID-UPDATE">Drug: </label>
    <select name="input-drugID-UPDATE" id="input-drugID-UPDATE">
        <option value="Null" disabled selected>Select a Drug:</option>
        {{#each drugs}}
        <option value="{{this.drugID}}">{{this.drugName}}</option>
        {{/each}}
    </select>

    <label for="input-dosage-UPDATE">Dosage: </label>
    <input type="text" name="input-dosage-UPDATE" id="input-dosage-UPDATE" required>
    
    <input type="submit">

</form>

<script src="./update_patientPrescription.js" type="application/javascript"></script>